#about.row
  %h3.center About
  %p.center
    :markdown
      Founded 2005. Monthly meetings & hackfests. We communicate via [mailing list](http://groups.google.com/group/tecvhvalleyrb). Activity feeds are available via Atom for #{ link_to "Events", events_path(:format => :atom) } and #{ link_to "Jobs", jobs_path(:format => :atom) }. Thanks to our #{ link_to "sponsors", page_path(:sponsors) }. This Ruby web application is #{ link_to "open source", "http://github.com/techvalleyrb/techvalleyrb" }, available under the MIT license.

