#sponsors
  .ribbon
    .row
      %h3 Sponsors
      
      %p Celery hosts the monthly meetings. They provide food, drinks &amp; wireless.
      
      %p INOC provides the VPS used to host this website.
